/* CSS Document */

section{width:100px; height:100px; background:red; position:absolute;
			top:150px; left:100px;
			
			-webkit-transition-property:left,opacity,background;
			-webkit-transition-duration: 1s,.5s,1s;
			-webkit-transition-timing-function:ease-in-out,ease-in,linear;
			-webkit-transition-delay:0,1s,1.5s;
			}
ol{list-style:none;}
li{background:blue; width:200px; margin:5px; height:30px; -webkit-box-sizing:border-box;
	padding:10px; text-align:center; color:white; font-family:sans-serif; text-transform:uppercase;}
a:hover{color:yellow; cursor:pointer;}
			
.animation{
	left:300px;
	opacity:.5;
	background:yellow;	
}